[Unit]
Description=buzz
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m buzz.app
WorkingDirectory=/home/yowmamasita
Environment=BUZZ_CONFIG=/home/yowmamasita/buzz.yml
Environment=PYTHONPATH=/home/yowmamasita
StandardOutput=file:/var/log/buzz.log
StandardError=file:/var/log/buzz.log
Restart=on-abort
RestartSec=1
StartLimitInterval=600s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
